<h1>Receitas</h1>

  <% @recipes.each do |recipe| %>
    <article>
      <header>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%= imagem(recipe) %>
      </header>
      <p>
        <i>Ingredientes:</i> <%= recipe.stuff %>
      </p>
      <p>
        <i>Calorias:</i> <%= recipe.calories %>
      </p>
      <p>
        <i>Tempo de Preparo:</i> <%= recipe.duration %> min
      </p>
      <p>
        <i>Modo de Preparo:</i> <%= recipe.prepare_mode %>
      </p>
    </article>
  <% end %>

<%= link_to "Nova Receita", new_recipe_path %>