<h1>Receitas</h1>

  <% @recipes.each do |recipe| %>
    <article>
      <header>
        <h3><%= link_to recipe.name, recipe_path(recipe) %></h3>
        <%= imagem(recipe) %>
      </header>
      <p>
        </br>
        <i><b>Ingredientes:</b></i> <%= recipe.stuff %>
      </p>
      <p>
        <i><b>Calorias:</b></i> <%= recipe.calories %>
      </p>
      <p>
        <i><b>Tempo de Preparo:</b></i> <%= recipe.duration.strftime("%H:%M") %> min
      </p>
      <p>
        <i><b>Modo de Preparo:</b></i> <%= recipe.prepare_mode %>
      </p>
    </article>
  <% end %>
