 <article>
  <header>
    <h3><%= @recipe.name %></h3>
        <%= imagem(@recipe) %>
  </header>
  <h3>Tipo</h3>
  <p>
    <%= @recipe.kind %>
  </p>
  <p>
    <i>Ingredientes:</i> <%= @recipe.stuff %>
  </p>
  <p>
    <i>Calorias:</i> <%= @recipe.calories %>
  </p>
  <p>
    <i>Modo de Preparo:</i> <%= @recipe.prepare_mode %>
  </p>
   <p>
    <i>Porções:</i> <%= @recipe.portion %>
  </p>
   <p>
    <i>Tempo de Preparo:</i> <%= @recipe.duration %> min
  </p>
</article>

<%= link_to "Receitas", recipes_path %>
<%= link_to "Editar Receita", edit_recipe_path(@recipe) %>
<%= button_to "Deletar Receita", recipe_path(@recipe), method: :delete %>

